---
import { CONTACTS } from "../config";
import { Icon } from "astro-icon/components";
---

<div class="text-slate-400">
  <div class="flex items-center gap-4">
    
    <a href={CONTACTS.x} target="_blank" class="hover:[&>svg]:text-white">
      <Icon name="simple-icons:x" width={24} height={24} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.github} target="_blank" class="hover:[&>svg]:text-white">
      <Icon name="github" width={24} height={24} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.linkedin} target="_blank" class="hover:[&>svg]:text-white">
      <Icon name="simple-icons:linkedin" width={24} height={24} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.discord} target="_blank" class="hover:[&>svg]:text-white">
      <Icon name="simple-icons:discord" width={24} height={24} class="transition-colors duration-300" />
    </a>
    <a href={CONTACTS.email} class="hover:[&>svg]:text-white">
      <Icon name="mdi:email" width={24} height={24} class="transition-colors duration-300" />
    </a>
  </div>
</div>
