---
import type { CollectionEntry } from "astro:content";
import DateTag from "../date-tag.astro";
import Tag from "../tag.astro";
import { CollectionType } from "../../types";
import { Image } from "astro:assets";

type Props = {
  post: CollectionEntry<CollectionType.Blog>;
};

const { post } = Astro.props;
const cover = post.data.cover ?? "";
const isCoverObject = typeof cover === "object" && cover?.src;
const coverSrc = isCoverObject ? `${cover.src}` : `${cover}`;
const [lang, ...slug] = post.slug.split("/");
---

<div class="flex flex-col gap-4 rounded-lg p-4 ring-0 cursor-pointer bg-zinc-800/60">
  {
    post.slug && (
      <a href={`/${lang}/posts/${slug.join("/")}`} target="_self">
        {isCoverObject ? (
          <Image src={cover} alt="cover" class="w-full aspect-video rounded-lg self-auto object-cover" />
        ) : (
          <img src={coverSrc} alt="cover" class="w-full aspect-video rounded-lg self-auto object-cover" />
        )}
      </a>
    )
  }
  <div class="flex flex-col gap-2">
    <div class="flex gap-2">
      <DateTag date={post.data.date} />
      {post.data.tags?.map((tag: string) => <Tag tag={tag} />)}
    </div>
    <a href={`/${lang}/posts/${slug.join("/")}`} target="_self">
      <h1 class="text-3xl font-title font-black text-white">{post.data.title}</h1>
    </a>
    <a href={`/${lang}/posts/${slug.join("/")}`} target="_self">
      <p class="text-sm text-gray-300">{post.data.description}</p>
    </a>
  </div>
</div>
